<div class="site-content">
      <main class="main-content">
        <div class="hero">
          <div class="container">
            <img src="assets/imac.png" alt="" class="imac">
            <div class="hero-content">
              <span>To continue</span> <br>
              <span>please login or create a new account</span>
            </div>
           
               <a><%= link_to "Log In", new_user_session_path, class: "button" %></a>
               <a><%= link_to "Register", new_user_registration_path, class: "button" %></a>

          </div>
        </div> <!-- .hero -->

        <div class="fullwidth-block">
          <div class="container">
            <div class="col-md-4">
              <div class="feature">
                <i class="feature-icon"><img src="assets/support.png" alt=""></i>
                <h2 class="feature-title">Support</h2>
                <p>Science of todat is technology of tomorrow. So stop thinking and start learning. suppot our website and subscribe to our youtube channel for daily updates </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <i class="feature-icon"><img src="assets/microscope.png" alt=""></i>
                <h2 class="feature-title">Practical hub</h2>
                <p>Are you forgetting the experiments ? fed up with confusing outputs ? want to have look at kits and apparatus ? Dont worry, we will help you to have a look at basic knowledge anfd procedure and apparatgus of the experiment. Each video will help you to have ease and comfort while performing it ......<%= link_to 'Know more', about_path %></p> 
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <i class="feature-icon"><img src="assets/about.png" alt=""></i>
                <h2 class="feature-title">About US</h2>
                <p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique.</p>
              </div>
            </div>
          </div>
        </div>
      </main> <!-- .main-content -->
     </div>







        <div id="main">
          <div class="inner">

          <!-- Boxes -->
            <div class="thumbnails">

              <div class="box">
                <a href="https://youtu.be/pFkBRQ8LFyk" class="image fit"><img src="assets/9.jpg" alt="" /></a>
                <div class="inner">
                  <h3>Electronics and communication </h3>
                  <h4>deals with the design and development of electronic circuits, equipment and machines. Electronic equipment and communication equipment has interconnected everyone in so many ways, such as through mobile phones, TVs, computers or iPads......</h4>
                  <a href="https://youtu.be/pFkBRQ8LFyk" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
              </div>

              <div class="box">
                <a href="https://youtu.be/aHCyFMNiUsU" class="image fit"><img src="assets/11.jpg" alt="" /></a>
                <div class="inner">
                  <h3>computer science </h3>
                  <h4>
                    Computer Science Engineering (CSE) encompasses a variety of topics that relates to computation, like analysis of algorithms, programming languages, program design, software, and computer hardware. Computer Science engineering has roots in electrical engineering, mathematics, and linguistics......</h4>
                  <a href="https://youtu.be/aHCyFMNiUsU" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
              </div>

              <div class="box">
                <a href="https://youtu.be/NP1YQUo0h4g" class="image fit"><img src="assets/10.jpg" alt="" /></a>
                <div class="inner">
                  <h3>Information technology</h3>
                  <h4>SysAdmins are in charge of the day-to-day functioning of a company's computer network including organizing, installing, and supporting computer systems, networks, intranets, and other data communication systems. ... Some software developers focus more on the underlying computer systems that run devices or networks.................</h4>
                  <a href="https://youtu.be/NP1YQUo0h4g" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
              </div>

              <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/4.jpg" alt="" /></a>
                <div class="inner">
                  <h3>EEE</h3>
                  <h4>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</h4>
                  <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
              </div>

              <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/5.jpg" alt="" /></a>
                <div class="inner">
                  <h3>Civil</h3>
                  <h4>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</h4>
                  <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
              </div>

              <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/6.jpg" alt="" /></a>
                <div class="inner">
                  <h3>Mechanical</h3>
                  <h4>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</h4>
                  <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
              </div>

            </div>

          </div>
        </div>