		<div class="site-content">


			<main class="main-content">
				<div class="page-head">
					<div class="container">
						<h1 class="page-title">Creative people driven by pasion. <br> We create best videos on lab experiments</h1>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="col-sm-6">
							<h2>Similique sunt in culpa</h2>
							<p>Are you forgetting the experiments ? fed up with confusing outputs ? want to have look at kits and apparatus ? Dont worry, we will help you to have a look at basic knowledge anfd procedure and apparatgus of the experiment. Each video will help you to have ease and comfort while performing it </p>
						</div>
						<div class="col-sm-6">
							<h2>Tempore soluta nobis eligendi</h2>
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae.</p>
						</div>
					</div>
				</div>

				 
				<div class="fullwidth-block testimonial-section">
					<div class="container">
						<div class="testimonial-slider">
							<ul class="slides">
								<li>
									<img src="/assets/6.jpg" alt="" class="cite-avatar">
									<blockquote>
										<p>Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet.</p>
										<cite>Practical hub</cite>
									</blockquote>
								</li>
								<li>
									<img src="/assets/1.jpg" alt="" class="cite-avatar">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quis eius eaque, dolorem magnam vitae saepe repellendus illo voluptas repellat sequi, possimus quasi labore, minus corporis obcaecati odit atque molestiae.</p>
										<cite>practical hub</cite>
									</blockquote>
								</li>
								<li>
									<img src="/assets/4.jpg" alt="" class="cite-avatar">
									<blockquote>
										<p>Consectetur adipisicing elit. Magnam dicta enim facere eos et quidem labore aliquam eius porro, assumenda, saepe nisi cum. Dolore id, maiores aspernatur tempora impedit saepe.</p>
										<cite>Practical hub</cite>
									</blockquote>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="col-sm-6">
							<p>Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
							
							<p>Are you forgetting the experiments ? fed up with confusing outputs ? want to have look at kits and apparatus ? Dont worry, we will help you to have a look at basic knowledge anfd procedure and apparatgus of the experiment. Each video will help you to have ease and comfort while performing it </p>

							<a href="#" class="button">Watch videos</a>
						</div>
						<div class="col-sm-6">
							<img src="/assets/imac.png" alt="" class="macbook">
						</div>
					</div>
				</div>

				<div class="fullwidth-block team-section">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-xs-6">
								<div class="team">
									<figure>
										<img src="/assets/6.jpg" alt="">
										<figcaption>
											<h2>sannjay pinnaka</h2>
											<small></small>
										</figcaption>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="team">
									<figure>
										<img src="/assets/6.jpg" alt="">
										<figcaption>
											<h2>Avinash narni</h2>
											<small></small>
										</figcaption>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="team">
									<figure>
										<img src="/assets/6.jpg" alt="">
										<figcaption>
											<h2>Lakshmi deepak</h2>
											<small></small>
										</figcaption>
									</figure>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="team">
									<figure>
										<img src="/assets/6.jpg" alt="">
										<figcaption>
											<h2>Satya Dheeraj</h2>
											<small></small>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
     </div>
		

