<style type="text/css">
 h1 {
   color: #000;
   text-align: center;
   text-decoration: underline;
 }
 h3 {
 	text-align: center;
 	color: #000;
 }
.site-footer {
 margin-top: 350px;
}

</style>


 <h1 class="current-sem"><%= params[:sem] %></h1>
 <% if @labs.count == 0 %>
    <h3>There are no labs currently in this sem</h3>
<% else %>
   <% @labs.each do |lab| %>
     <h3><%= link_to lab.name, lab_path(lab) %></h3>
<% end %>
<% end %>