<style type="text/css">
 h1 {
   color: #000;
   text-align: center;
   text-decoration: underline;
 }
 h3 {
 	text-align: center;
 }


</style>


<h1><%= @lab.name %></h1>


<% if @experiments.count == 0 %>
 <h3>There are no experiments currently in this lab</h3>
 <% else %>

<% @experiments.each do |experiment| %>
     <h3> <%= link_to experiment.title, experiment_path(experiment) %></h3>
<% end %>
<% end %>

